<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            <span id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv"></span>╥ца©</span>&nbsp;
            <span id="busuanzi_container_site_uv"><span id="busuanzi_value_site_uv"></span>╥ц©м</span>         
        </div>
    </div>
</footer>