<footer id="footer">
  <!--<script src="https://api.i-meto.com/music/player.js"></script>-->
  <%- js('libs/aplayer/player') %>
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            <div>
              <script type="text/javascript" src="https://api.lwl12.com/hitokoto/main/get?encode=js&charset=utf-8"></script><div id="lwlhitokoto"><script>lwlhitokoto()</script></div>
            </div>
            <aside id="sidebar" style="float:right;width:0;margin-right:0px;">
                <div id="toTop" class="fa fa-angle-up"></div>
            </aside>
        </div>
    </div>
</footer>
