<footer id="footer">
  <script src="https://api.i-meto.com/music/player.js"></script>
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            <span id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv"></span>访量</span>&nbsp;
            <span id="busuanzi_container_site_uv"><span id="busuanzi_value_site_uv"></span>访客</span>
            <div>
              <script type="text/javascript" src="https://api.lwl12.com/hitokoto/main/get?encode=js&charset=utf-8"></script><div id="lwlhitokoto"><script>lwlhitokoto()</script></div>
            </div>
            <aside id="sidebar" style="float:right;width:0;margin-right:0px;">
                <div id="toTop" class="fa fa-angle-up"></div>
            </aside>
        </div>
    </div>
</footer>